body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: radial-gradient(gray,black);
  background-repeat: no-repeat;
  height: 100vh;
}

.game-area {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 2px solid gray;
  background-color: #1a1b1a;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: green;
  border: 1px dashed yellow;
  border-radius: 4px;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: red;
  border: 2px dotted white;
  border-radius: 50%;
  z-index: 1;
}